@import "~bulma/bulma.sass"; //../../node_modules/bulma.sass
body{
  margin: 0;
}
.columns{
  display: flex;
  margin-top:20px;
  color: black;
}
.buttons{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  & input{
    margin-top:10px;
  }
}
  .results {
    margin-top: 50px;
  }

  .is-active {
    border: 3px #23d160 solid;
  }

.move-enter-active, .move-leave-active {
  transform: translateX(0);
  transition: all .3s linear;
}
.move-enter-active, .move-leave-active {
  transform: translateX(100%);
}